.gallery {
  grid-template-rows: repeat(30, 100px) !important; }

@media screen and (max-width: 991.98px) {
  .gallery {
    grid-template-rows: repeat(60, 100px) !important; }
  .image8 {
    grid-row: span 4; }
  .image10 {
    grid-row: span 4; }
  .image15 {
    grid-row: span 5; }
  .image18 {
    grid-row: span 4; }
  .image19 {
    grid-row: span 4; }
  .image30 {
    grid-row: span 4; }
  .image34 {
    grid-column: span 2; } }
