.contact-section {
  width: 100vw;
  margin-bottom: 30px;
}

.contact-hero {
  margin-top: 120px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  grid-template-areas: "a b";
}

.text {
  grid-area: a;
  padding: 75px 0;
  width: 700px;
}

.text h3 {
  margin-bottom: 30px;
  font-size: 45px;
  font-family: "Caveat Brush", cursive;
  font-weight: normal;
}

.text p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.picture {
  grid-area: b;
  width: 400px;
  height: 580px;
  background: gray;
}

.contact-me {
  margin-bottom: 150px;
}

.contact-me h3 {
  margin-bottom: 30px;
  font-size: 45px;
  font-family: "Caveat Brush", cursive;
  font-weight: normal;
}

.contact-me p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 1199.98px) {
  .contact-hero {
    margin-top: 50px;
  }
  .text {
    width: 500px;
  }

  .picture {
    height: 500px;
    align-self: center;
  }

  .contact-section {
    padding-left: 1rem;
  }

  .contact-me {
    padding: 0 1rem;
  }
}

//Medium Devices (tablets)
@media screen and (max-width: 991.98px) {
  .contact-hero {
    margin-top: 0;
    height: 100%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "a"
      "b";
  }

  .text {
    text-align: center;
    width: 100vw;
  }

  .text p {
    padding-left: 30px;
    padding-right: 30px;
  }

  .picture {
    width: 100vw;
  }

  .contact-me {
    margin-top: 80px;
    text-align: center;
  }

  .contact-me p {
    padding-left: 30px;
    padding-right: 30px;
  }
}
