.contact-section {
  width: 100%;
  margin-bottom: 30px;
}

.contact-hero {
  margin-top: 120px;
  width: 100%;
  display: flex;
}

.text {
  padding: 75px 0;
  width: 700px;
}

.text h3 {
  margin-bottom: 30px;
  font-size: 45px;
  font-family: "Caveat Brush", cursive;
  font-weight: normal;
}

.text p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.picture {
  width: 400px;
  height: 580px;
  background-image: url(../img/Leon-LTCMedia.jpg);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: 20px;
}

.contact-me {
  margin-bottom: 150px;
}

.contact-me h3 {
  margin-bottom: 30px;
  font-size: 45px;
  font-family: "Caveat Brush", cursive;
  font-weight: normal;
}

.contact-me p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.contact-me a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.contact-me a:hover {
  color: #555555;
}

@media screen and (max-width: 1199.98px) {
  .contact-hero {
    margin-top: 50px;
  }
  .text {
    width: 500px;
  }

  .picture {
    height: 500px;
    align-self: center;
  }

  .contact-section {
    padding-left: 1rem;
  }

  .contact-me {
    padding: 0 1rem;
  }
}

//Medium Devices (tablets)
@media screen and (max-width: 991.98px) {
  .contact-hero {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .contact-section {
    padding-left: 0;
  }

  .text {
    text-align: center;
    width: 100%;
  }

  .text p {
    width: 100%;

    padding-left: 30px;
    padding-right: 30px;
  }

  .picture {
    width: 92vw;
    margin: 0;
  }

  .contact-me {
    margin-top: 80px;
    text-align: center;
  }

  .contact-me p {
    padding-left: 30px;
    padding-right: 30px;
  }
}
