.gallery {
  //Hier musst du die Reihenanzahl ändern, bis alle Bilder ordentlich abgebildet sind.
  grid-template-rows: repeat(30, 100px) !important;
  //xsmall = 200x200Px
  //small = 400x300Px
  //normal = 500x300Px
  //large = 400x700Px
  //long = 400x200px
  //potrait = 300x200px
}

@media screen and (max-width: 1199.98px) {
  .gallery {
    //hier musst du auch wieder ausprobieren, bis es passt. Ich habe immer 100 genommen und dann bin ich mit der Zahl runtergegagen, bis es gepasst hat.
    grid-template-rows: repeat(38, 100px) !important;
  }
  //Wenn ein Bild nicht passt kannst du auch so bestimment, wie groß das Bild ist.
  .image9 {
    grid-row: span 4;
  }

  .image16 {
    grid-row: span 5;
  }

  .image18 {
    grid-row: span 5;
  }

  .image33 {
    grid-column: span 2;
  }
}

@media screen and (max-width: 991.98px) {
  .gallery {
    //genau das gleiche hier
    grid-template-rows: repeat(60, 100px) !important;
  }

  .image8 {
    grid-row: span 4;
  }

  .image10 {
    grid-row: span 4;
  }

  .image15 {
    grid-row: span 5;
  }

  .image18 {
    grid-row: span 4;
  }

  .image19 {
    grid-row: span 4;
  }

  .image30 {
    grid-row: span 4;
  }

  .image34 {
    grid-column: span 2;
  }
}
