.impressum {
  margin-top: 50px;
  margin-bottom: 150px;
  font-family: "Poppins", sans-serif;
}

.impressum a {
  color: white;
  text-decoration: none;
}

.impressum a:hover {
  color: #555;
}

.impressum h3 {
  margin-bottom: 30px;
  font-size: 50px;
  font-family: "Caveat Brush", cursive;
  font-weight: normal;
}

.impressum p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
}

.impressum h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  text-decoration: underline;
}

.impressum h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

#forContent {
  margin-top: 10px;
}

#forLinks {
  margin-top: 30px;
}

#Urheberrecht {
  margin-top: 30px;
}

@media screen and (max-width: 1300px) {
  .brand-title {
    margin-left: 20px;
  }
  .impressum {
    padding-left: 20px;
    padding-right: 20px;
  }
}
